// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Veritcal Align and cneter without flexbox */
.tb-outer {
    display: table;
    width: 100%;
}

.tb-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Spacing */
.pad-t-0 {
    padding-top: 0px;
}
.pad-t-5 {
    padding-top: 5px;
}
.pad-t-10 {
    padding-top: 10px;
}
.pad-t-20 {
    padding-top: 20px;
}
.pad-t-50 {
    padding-top: 50px;
}
.pad-b-0 {
    padding-bottom: 0px;
}
.pad-b-5 {
    padding-bottom: 5px;
}
.pad-b-10 {
    padding-bottom: 10px;
}
.pad-b-20 {
    padding-bottom: 20px;
}
.pad-b-50 {
    padding-bottom: 50px;
}
.pad-l-0 {
    padding-left: 0px;
}
.pad-r-0 {
    padding-left: 0px;
}

/* Customizable placeholders below */

/*body {
    font-family: sans-serif;
    background-color: white;
    color: black;
}*/

/*#hero {
    background: url();
    background-size: cover;
    width: 100%;
    height: 25%;
    min-height: 0px;
    background-position: center center;
}*/

/*.classname:after, .classname tag:after {
    background: none repeat scroll 0 0 #000;
    bottom: -10px;
    content: "";
    display: block;
    height: 2px;
    position: relative;
    width: 6%;
    left: 47%;
}*/

/* Specific use cases */
/* Center Google recaptcha*/
/*.g-recaptcha {
        display: inline-block;
}*/
